
body{
  background-color: #f0f2f5;
  width: 100%;
  height: auto;
}
.container-fluid{
  margin: 0;
  padding: 0;
}

.navbar-collapse{
  margin: 0;
  padding: 0;
}

.box{
  width: 160px;
  height: 32px;
  background-color: #364453;
  margin: 16px 13px 16px 32px;
}
.container-fluid{
  background-color: #041528;
}

.navbar-nav{
  background-color: #041528;
  margin: 0;
  padding: 0;
}
.navbar-nav :hover{
  background-color: #4090f7;
}
li{
  width: auto;
  height: 64px;
  text-align: left;
  margin-left:19px
}
.navs{
  font-size: 24px;
  color: white;
  text-decoration: none;
  margin: 24px 19px 24px 19px;
}
.container{
  width: 100%;
  margin: 0;
  padding-right: 16px;
  padding-left: 16px;
}
.row{
  padding-left: 16px;
  padding-right: 16px;
}
.col{
  background-color: white;
  height: 320px;
  padding: 0;
  margin-left: 16px;
  margin-top: 16px;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-toggle span.icon-bar {
    transition: all 0.15s;
}

.navbar-toggle span:nth-child(2) {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggle span:nth-child(3) {
    opacity: 0;
}

.navbar-toggle span:nth-child(4) {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggle.collapsed span:nth-child(2),
.navbar-toggle.collapsed span:nth-child(4) {
    transform: rotate(0);
}

.navbar-toggle.collapsed span:nth-child(3) {
    opacity: 1;
}
